<div>{{#each data}}
    <div class="event-container">
        <h1>{{this.name}}</h1>

        <div class='sx-img-dx-text'>
            <img src="https://supluginsja.com/podium/images/placeholder-04.png" alt="">
            <div>
                <h4>Title</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio quam repellendus deserunt
                    beatae,
                    illum
                    suscipit nostrum corporis distinctio voluptate natus nihil, ab, blanditiis reprehenderit. Voluptates
                    magni
                    molestias praesentium cum?</p>
            </div>
        </div>

        <div class='dx-img-sx-text'>
            <div>
                <h4>Title</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio quam repellendus deserunt
                    beatae,
                    illum
                    suscipit nostrum corporis distinctio voluptate natus nihil, ab, blanditiis reprehenderit. Voluptates
                    magni
                    molestias praesentium cum?</p>
            </div>
            <img src="https://www.stickpng.com/assets/thumbs/5a5cbf599538462e5a82d541.png" alt="">
        </div>


    </div>
    {{/each}}
</div>