<div>

    <h1 id="year-title">MILESTONES: {{data.year}}</h1>
    <h2>{{data.title}}</h2>
    
    <div class='sx-img-dx-text'>
        <img src="https://supluginsja.com/podium/images/placeholder-04.png" alt="">
        <h1 id="year-title">MEDALS</h1>
    </div>

    <div class='dx-img-sx-text'>
        <h1 id="year-title">SPORTS</h1>
        <img src="https://www.stickpng.com/assets/thumbs/5a5cbf599538462e5a82d541.png" alt="">
    </div>

    <div class='sx-img-dx-text'>
        <img src="https://supluginsja.com/podium/images/placeholder-04.png" alt="">
        <h1 id="year-title">ATHLETES</h1>
    </div>

    <div class='dx-img-sx-text'>
        <h1 id="year-title">RECORDS</h1>
        <img src="https://www.stickpng.com/assets/thumbs/5a5cbf599538462e5a82d541.png" alt="">
    </div>


    <a href="/{{data.id}}/events"></a>
</div>
